/Pratica2/pratica2/nbproject/private/
/Pratica2/Pratica2/nbproject/private/
/Pratica4/nbproject/private/
/Pratica4/build/
/Pratica4/dist/
/Pratica5/Pratica5/nbproject/private/
/Pratica6/Pratica6/nbproject/private/
/Pratica7/nbproject/private/
/Pratica7/build/
/Pratica7/dist/